.image-gallery {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.image-thumbnails img {
  width: 60px;
  height: 60px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.main-image img {
  width: 100%;
  height: auto;
}
