.product-details {
  color: #524444;
}

.product-title {
  font-size: 2rem;
  font-weight: bold;
}

.product-rating {
  color: #666;
  margin: 0.5rem 0;
}

.product-price {
  font-size: 1.5rem;
  color:#aa1f7e;
  margin: 1rem 0;
}

.add-to-cart {
  display:flow-root;
  align-items:stretch;
  padding: 0.5rem 1.5rem;
    border:#e10098;

}

.add-to-cart button {

 color:#e10098;
  border:#e10098;
  padding: 0.1rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
}

.cart-button  {
  background-color: #e10098;
  color: #fff;
  border: none;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
