.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f23598;
  color: white;
  padding: 1rem 1rem;
}

.logo {
  height: em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
/* Styling for the logo container */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #a835f2; /* Purple background color */
  margin: 0;
}

/* White circular background for the logo */
.logo-circle {
  background-color: white;
  border-radius: 50%;
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Styling for the logo image */
.logo-image {
  width: 120px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1rem;
}

.nav-links li a:hover {
  text-decoration: underline;
}