.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f23598;
  color: white;
  padding: 2rem 1rem;
}

.logo {
  height: em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
/* Styling for the logo container */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
 /* Purple background color */
  margin: 0;
}


.nav-links {

  list-style: none;
  display: flex;
  gap: 2rem;

}

.nav-links button{
    width: 48px;
   height: 48px;
}


.nav-links li a {
  
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: proxima-nova, sans-serif;
  color: rgb(255, 255, 255);
  text-decoration:wavy;
  font-size: 17px;
  font-style:normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 25px;
  
}


.nav-links li a:hover .dropdown:hover .dropbtn{
 
  background-color: #a835f2;
}
.dropdown li {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  color: #f23598;
  background-color: #f23598;

  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(151, 52, 52, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #a835f2;
  background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}